{{define "index"}} {{template "header"}}
<main class="px-3">
  <h1>Cover your page.</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, consectetur!
    Quo, nobis ratione! Nesciunt delectus, obcaecati eveniet perspiciatis ad
    non, aperiam, illum velit quia sunt iusto atque quis eum fuga?
  </p>
  <div class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white"
      >Learn more</a
    >
    <span>SERVER INFORMATION</span>

    {{ range . }}
<div class="alert alert-danger">
  <h2>{{ .Title }}</h2>
   <p>{{ .Anons }}</p>
   <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее</a>
</div>
    {{ else }}
<p class="lead">Статей нет!</p>
{{ end }}


  </div>


</main>

{{template "footer"}} {{end}}
